@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .custom-scrollbar::-webkit-scrollbar{
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track{
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: #BDA475;
    width: 5px;
    border-radius: 10px;
  }
  .custom-scrollbar-dark::-webkit-scrollbar-thumb{
    background-color: #312e81;
  }
}

body{
  background: rgb(0,1,18);
  background: linear-gradient(183deg, rgba(24,29,49,1) , rgba(0,1,18,1) 100%);
}